@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="@Url.Content(Url.GetResourceUrlHashChunk("jquery"))"></script>
    <script type="text/javascript" src="@Url.Content(Url.GetResourceUrlHashChunk("file1"))"></script>
</head>
<body>

    <div id="my">
        <p>Hello</p>

        <ul>
            <li>5</li>
            <li>yazn</li>
        </ul>

    </div>
</body>
</html>
